.portal-usuarios__registry{

    display: flex;
    flex-direction: column;
    align-items: center;

    .form-users{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;

        &__item{
            
            &-name,
            &-lastname,
            &-area,
            &-job,
            &-email,
            &-password,
            &-address,
            &-phone,
            &-file{
                max-width: 100%;
                display: block;
            }

            &-password--item{
                margin-bottom: 0.5rem !important;
            }

            &-submit {
                width: 100%;

                .ant-form-item-control-input-content{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                button{
                    width: 100%;
                }

            }

        }

        .separator-users{
            &__additional,
            &__required{
                color: $dark-title3;
                font-weight: 300;
                font-size: 2.2rem;
                text-align: center;
            }

            &__required{
                margin-bottom: 2rem;
            }

            &__additional{
                margin: 1.5rem 0 1rem 0;
            }

        }

        @media(min-width: $bk-1000){
            width: 80%;
        }

        @media (min-width: $bk-480){
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            grid-template-areas: 
                "required required"
                "name lastname"
                "area job"
                "email password"
                "additional additional"
                "address phone"
                "file file"
                "submit submit";
    
            &__item{
    
                &-name{
                    grid-area: name;
                }
    
                &-lastname{
                    grid-area: lastname; 
                }
    
                &-area{
                    grid-area: area;
                }
    
                &-job{
                    grid-area: job;
                }
    
                &-email{
                    grid-area: email;
                }
    
                &-password{
                    grid-area: password;
                }
    
                &-address{
                    grid-area: address;
                }
    
                &-phone{
                    grid-area: phone;
                }
    
                &-file{
                    grid-area: file;
                }
    
                &-submit{
                    grid-area: submit;

                    button{
                        width: 20rem;
                    }
                }
            }
    
            .separator-users{
                &__additional{
                    grid-area: additional;
                    font-size: 2.2rem;
                    text-align: left;
                    margin: 0;
                }
                &__required{
                    grid-area: required;
                    font-size: 2.2rem;
                    text-align: left;
                    margin: 0;
                }
            }
        }

    }

    .generate-password-link{
        color: $color3;
        
        &:hover{
            color: darken($color: $color3, $amount: 20);
        }

    }

}

