// .ant-input-affix-wrapper:hover, 
// .ant-input-affix-wrapper-focused:hover{
//     border-color: none !important;
// }

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover
{
    border: 1px solid $color3;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector{
    border: 1px solid $color3;;
    box-shadow: none;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
    border: 1px solid $color3;;
    box-shadow: none;
}

.ant-popover-content{
    display: none;

    @media(min-width: $bk-780){
        display: block;
    }

}

.custom-form{

    & input
    {
        padding: 0.02rem 0 !important;
    }

    & .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        // height: 3.7rem !important;
        height: 3.2rem !important;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder{
        line-height: 3.1rem !important;
    }

    .ant-input-group-addon{
        padding: 0;
        height: 0 !important;
        border: unset;
    
        & button{
            height: 100%;
            padding: 0;
            border: unset;
            width: 3rem;
            cursor: pointer;

            & span{
                width: 100%;
                display: flex;
                height: inherit;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

        }

    }

}