.spinner-fallback{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $background-gray;
}

.spinner-screen{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}