.custom-table{

    width: 100%;
    overflow: auto;

    thead.ant-table-thead{

        th{
            font-size: 1.1rem !important;
            border: none;
            background-color: $color3;
            color: white;
            
            @media(min-width: $bk-680){
                &{
                    font-size: 1.4rem !important;
                }
            }
        }

    }

    .custom-table-menu{ 
        .ant-btn{
            border: 1px solid $color3;

            &:hover{
                border-color: red;
            }
        }
    }

}

.custom-table__row{
    background-color: $color2;
    font-size: 1.1rem !important;

    @media(min-width: $bk-680){
        &{
            font-size: 1.4rem !important;
        }
    }
}