//COLORS
$color1: #92afb8;
$color2: white;
$color3: #5a6c90;
$dark-title1: #4e474773;
$dark-title2: #ffffff99;
$dark-title3: #595959;

//MEDIAQUERIES
$bk-300: 300px;
$bk-380: 380px;
$bk-480: 480px;
$bk-780: 780px;
$bk-1000: 1000px;

//PORTAL-SIDER
$ps-260: 26rem;
$ps-300: 30rem;